body{
  font-family: "Arial";
}

table{
    border-collapse:collapse;
}
tr {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;

}
td{
  width: 20px;
  height: 20px;
}
td.start{
  border-right: 1px solid red; 
  width: 10px;
}
.active{
  background-image: url(../img/car.png); 
  background-repeat: no-repeat;
  border-right: 1px solid none;
  width: 35px;
}
.active2{
  background-image: url(../img/car.png); 
  background-repeat: no-repeat;
  border-right: 1px solid none;
  width: 35px;
}

.buttonDiv{
  padding: 20px;
}

.vehicle{
  display: flex;
}
select{
  height: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.test{
height: 100px;
width: 100px;
border: 1px solid black;
}